.navColor {
  background-color: #b40000;
}

.collapseColor {
  background-color: #fff;
}

.line {
  width: 25px;
  height: 0.2rem;
  margin: 0.3rem 0.3rem;
  background-color: #fff;
}

button:focus {
  outline: none;
}

.item-border {
  margin: 0.2rem 0.4rem;
  border: 2px solid #000000;
}

.nav-link.active {
  border-color: #b40000;
  color: #b40000 !important;
}

.nav-link:hover {
  border-color: #b40000;
  color: #b40000 !important;
}

.img {
  background: url(../img/bannerbg.png);
  background-size: cover;
  background-position: center;
}

.upperLine {
  width: 2.6rem;
  height: 0.3rem;
  margin: 2rem 0rem;
  background-color: #fff;
}

.headline {
  line-height: 2rem;
  margin-top: -1.5rem;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  font-size: 1.7rem;
}

.headline2 {
  font-size: 2.5rem;
  color: #4694ff;
}

.headline3 {
  font-size: .9rem;
}

.lineHeight {
  line-height: 1.2rem;
}

.learMorebtn {
  border: 1px solid #ffffff;
  border-radius: 0px;
  padding: 0.7rem;
  width: 154px;
}

.learMorebtn:hover {
  background-color: #b40000;
  color: #fff;
  border: 1px solid #b40000;
}

.referrals {
  display: block;
  padding-top: 0.2rem;
  font-size: 2.2rem;
  color: #b40000;
}

.clickHereBtn {
  border: 1px solid #111111;
  border-radius: 0px;
  padding: 0.7rem;
  width: 154px;
}

.clickHereBtn:hover {
  background-color: #b40000;
  color: #fff;
  border: 1px solid #fff;
}

.detail {
  min-height: 72px;
}

.contractors {
  display: block;
  color: #b40000;
  font-size: 1.4rem;
}

.bgGray {
  background-color: #f8f8f8;
}

.content-text {
  font-size: 0.9rem;
}

.strongRed {
  color: #b40000;
}

.logo {
  display: inline-block;
  background: url(../img/sidebtn_bef.png);
  width: 40px;
  height: 41px;
}

.clientSurvey {
  background: url(../img/sidebtn_bef.png) no-repeat;
  background-position: 6px 10px;
  border: 1px solid #111;
  border-radius: 0px;
  padding: 1.8rem 3.1rem;
  height: 60px;
  width: 250px;
}

.clientSurveyText {
  display: inline-block;
  position: relative;
  top: -11px;
  left: 4px;
}

.img2 {
  background: url(../img/btm1_bg.png);
  background-size: cover;
  background-position: center;
}

.bgWhite {
  position: relative;
  background-color: #fff;
  max-width: 395px;
  padding: 1rem;
}

.dropShadow {
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.3), -4px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

.serviceWeOffer {
  display: block;
  color: #b40000;
  font-size: 1.7rem;
}

.topPrioText {
  font-size: 1.3rem;
}

.viewMoreServices {
  margin-top: -1.4rem;
}

.viewMoreServices a {
  color: #fff;
}

.services {
  font-size: 1.4rem;
}

.servicesAdditionalText {
  font-size: 0.9rem;
  margin-top: -1rem;
}

.clickHereLink a {
  color: white;
}

.clickHereLink {
  margin-top: -0.8rem;
  margin-bottom: 1rem;
}

/*custom nav css*/
ul {
  display: block;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0.1rem;
}

li {
  position: relative;
  display: inline-block;
  width: 32.3%;
  margin: 0px 0px 6px;
  color: black;
}

li a {
  border: 2px solid #111;
  padding: 13px 18px;
  width: 100%;
  height: auto;
  display: block;
  color: #111;
  text-decoration: none;
}

li a:hover {
  border: 2px solid #b40000;
  text-decoration: none;
  color: #b40000;
}

li a.active {
  border: 2px solid #b40000;
  color: #b40000;
}

nav {
  margin: 0;
  padding: 0;
}

.toggleMenu {
  position: relative;
  text-align: left;
  padding: 1rem 1rem;
  background-color: #b40000;
  color: #fff;
}

.navWrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

/*Media Queries*/
@media only screen and (min-width: 319px) {
  .bgGray {
    padding: 1rem;
    background-color: #f8f8f8;
  }

  .bgWhite {
    padding: 0rem;
    background-color: #fff;
  }

  .customRow {
    padding: 1rem;
  }

  #section2 .col-lg-4 {
    display: none;
  }
  #section2 .col-lg-5 .img-fluid {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .bgWhite {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #fff;
  }

  .bgGray {
    padding: 1rem;
    min-height: 250px;
    width: 572px;
    position: absolute;
    right: 0px;
  }

  .textWrap {
    position: relative;
    width: 384px;
    left: 106px;
  }

  #thirdContainer {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 566px) {
  nav {
    overflow: hidden;
  }

  .toggle-button {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    cursor: pointer;
  }

  .wrapper {
    display: none;
    background-color: #fff;
  }

  ul {
    position: relative;
    padding: 0.3rem;
    margin-top: 1rem;
  }

  li {
    display: block;
    width: 100%;
  }
}
@media only screen and (min-width: 567px) {
  .dropShadow {
    margin-top: -3rem;
  }

  .bgWhite {
    margin-top: 3rem;
  }

  .toggleMenu {
    display: none;
  }

  #section2 .col-lg-4 {
    display: none;
  }
  #section2 .col-lg-5 .img-fluid {
    display: none;
  }
}
@media only screen and (min-width: 1011px) {
  header div img {
    margin-top: 1.8rem;
    margin-left: -2rem;
    max-width: 425px !important;
    width: 100%;
  }

  nav {
    bottom: 67px;
    position: absolute;
    right: 6px;
  }

  ul {
    font-size: 0.8rem;
    display: inline;
  }

  li {
    width: auto;
    border: 0px;
    display: inline-block;
  }

  li a {
    border: 0px;
    display: block;
    padding: 0.2rem .2rem;
  }

  li a:hover {
    border: 0px;
  }

  li a:hover:after {
    content: "";
    bottom: -16px;
    left: 0;
    right: 0;
    position: absolute;
    width: 71%;
    height: 4px;
    background: #b40000;
    margin: 0 auto;
  }

  li a.active {
    border: 0px;
    color: #b40000;
  }

  li a.active:after {
    content: "";
    bottom: -16px;
    left: 0;
    right: 0;
    position: absolute;
    width: 71%;
    height: 4px;
    background: #b40000;
    margin: 0 auto;
    color: #b40000;
  }

  .carousel {
    margin-top: -6rem;
  }

  .learMorebtn {
    border: 1px solid #ffffff;
    border-radius: 0px;
    padding: 0.8rem;
    width: 159px;
  }

  .upperLine {
    width: 3.8rem;
  }

  #section1 {
    padding-bottom: 5rem !important;
  }

  #section2 .row {
    margin-bottom: 2rem;
  }
  #section2 .col-lg-4 {
    display: block;
    margin-top: -5rem;
  }
  #section2 .portfolio {
    margin-left: -1rem;
  }
  #section2 .col-lg-5 {
    margin-top: -12rem;
    text-align: right !important;
  }
  #section2 .col-lg-5 .img-fluid {
    display: block;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  ul {
    font-size: 1rem;
    display: inline;
  }

  .bgGray {
    padding: 1rem;
    min-height: 472px;
    width: 696px;
    position: absolute;
    right: 0px;
  }
  .bgGray .textWrap {
    position: relative;
    width: 477px;
    left: 153px;
    top: 28px;
  }
  .bgGray .textWrap .contractors {
    font-size: 1.8rem;
  }
  .bgGray .content-text {
    line-height: 1.7rem;
  }
}
